

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:150%;
	padding:2%;
	text-align:justify;
}

.def
{
 color:#0099CC;
background: #C5EFFD;
	padding:2px;
	font-style:italic;
	font-weight:bold;

}
h1
{
color:#fff;
font-size:1.5em;
background: #0d61ea;
padding:10px;
}
h2
{
color:#00aeef;
font-size:1.4em;
padding:10px;
}
h3
{
color:#00aeef;
font-size:1.3em;
padding:10px;
}
h4
{
color:#00aeef;
font-size:1.2em;
padding:10px;
}
h5
{
color:#00aeef;
font-size:1.1em;
padding:10px;
}
h6
{
color:#00aeef;
font-size:1 em;
padding:10px;
}
.note_bg
{
	background:#fff;
	border:1px solid #00aeef;
	color:#00aeef;
	padding:2px;
font-weight:bold;
	font-size:1.2em;
}

.chapterHeading {
color:rgb(0, 174, 239);
font-size:140%;
text-transform:uppercase;
margin:2% 0;
}
.bullet
{
	font-size:1.6em;
	color:#00aeef;
	font-weight:bold;
	position:relative;
	top:5px;
}
.topicHeading {
color:#00aeef;
font-size:1.3em;
font-weight:bold;
margin-top:30px;
}
.topicSubHeading {
color:#00aeef;
font-size:1.1em;
font-weight:bold;
margin-top:30px;
}

.highlight {
color:#00aeef;
font-weight:bold;
}

.excercise {
color:rgb(0, 174, 239);
font-size:1.3em;
font-weight:bold;
margin:1% 0 2% 0;
text-transform:uppercase;
text-align:center; 
}

.info {
padding:1% 15%;
font-size:90%;
margin:1% 0;
}
div.layout
{
  text-align: center;
}
div.chapter_pos

{

text-align: center;
width: 96%;
position:absolute;
top:50%;
font-weight:bold;
font-size:28px;
color:#fff;

}


div.chapter_pos div

{

background:#003366;

padding:10px;

width:40%;

margin:auto;
opacity:0.9;

}

div.chapter_pos div span

{

font-size:0.7em;

color:#eaeaea;

font-weight:normal;

}
.activitybox2{
background-color:#F4A460;
padding: 5px 5px 5px 5px;
margin: 5px 5px 5px 5px;
}
.lining_box
{
border:1px solid #000;
padding:5px;
}
.lining_box2
{
border:2px solid #00aeef;
padding:15px;
border-radius:15px;
}
.img_wid
{
	margin-left: auto;
    margin-right: auto;
	display: block;
	width:50%;
}

ul

{

margin-left:45px;

}

.caption

{

font-style: italic;

font-size: 0.83em;

color: #4D4D4D;

text-align:center;

}

p

{

margin-top:10px;

}


/* Concept Heading */
.ConceptHeading
{
color:#d1640f;
font-size:1.3em;
font-weight:bold;
margin-top:20px;
}
/* Sub Heading */
.SubHeading
{
color:#d1640f;
font-size:1.1em;
font-weight:bold;
}
/* Sub Heading 2*/
.SubHeading2
{
color:#d1640f;
font-size:1em;
font-weight:bold;
}

.footer

{

display:none;

}

table td

{

padding:10px;

}
p
{
	margin-bottom:10px;
}
.activityBox{
background-color:rgba(206, 19, 55, 0.4);
padding: 5px 5px 5px 5px;
margin: 5px 5px 5px 5px;
}
.box{
background-color:rgba(3, 78, 162, 0.4);
padding: 5px 5px 5px 5px;
margin: 5px 5px 5px 5px;
}

.cover_img_small
{
width:50%;
}
@media only screen and (max-width: 767px) {
div.chapter_pos
{
top:30%;
font-size:1em;
}
div.chapter_pos div
{
width:70%;
}
.cover_img_small
{
width:90%;
}
}
.color-blue, b.calibre4
{
color:#00B8F1;
font-weight:bold;

}
.no-clr b.calibre4
{
color:#000;
font-weight:normal;

}
.blue-bg{
background:#00BDF4;
color:#FFFFFF;
padding:5px;
}
img
{
vertical-align:middle;
}
.clear                                                      
{
clear:both;
}
img.right-img
{
text-align: right;
display:inline-block;
float:right;
width:177px;
}