@font-face {font-family:"FreeSerif"; font-style:normal; font-weight:normal; src:url(../fonts/FreeSerif.ttf);}
@font-face {font-family:"FreeSerif"; font-style:normal; font-weight:bold; src:url(../fonts/FreeSerifBold.ttf);}
@font-face {font-family:"FreeSerif"; font-style:italic; font-weight:bold; src:url(../fonts/FreeSerifBoldItalic.ttf);}
@font-face {font-family:"FreeSerif"; font-style:italic; font-weight:normal; src:url(../fonts/FreeSerifItalic.ttf);}
@font-face {font-family:"msbm10"; font-style:normal; font-weight:normal; src:url(../fonts/msbm10.ttf);}
@font-face {font-family:"cmsy10"; font-style:normal; font-weight:normal; src:url(../fonts/cmsy10.ttf);}
body{font-family:"FreeSerif"; margin:1em; line-height:1.1em;}
a
{
text-decoration:none;
}
.cover
{
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
}
img.blo
{
width:auto;
height:100%;
}
img
{
max-width:100%;
max-height:100%;
vertical-align:middle;
}
sup
{
vertical-align:0.55em;
font-size:0.6em;
line-height:0em;
}
sub
{
vertical-align:-0.4em;
font-size:0.6em;
line-height:0em;
}
.image
{
margin-top:0.7em;
margin-bottom:1em;
text-indent:0em;
text-align:center;
}
.halftitle
{
margin-top:3em;
margin-bottom:0em;
text-indent:0em;
text-align:left;
font-size:1.5em;
line-height:1.1em;
}
.title
{
margin-top:1em;
margin-bottom:0em;
text-indent:0em;
text-align:left;
font-size:1.5em;
font-weight:bold;
line-height:1.2em;
}
.title1
{
margin-top:1em;
margin-bottom:2.5em;
text-indent:0em;
text-align:left;
font-size:1.2em;
font-weight:bold;
}
.author
{
margin-top:1em;
margin-bottom:0.2em;
text-indent:0em;
text-align:left;
font-size:1em;
}
.pub
{
margin-top:0em;
margin-bottom:0.2em;
text-indent:0em;
text-align:left;
}
.fmtitle
{
margin-top:1em;
margin-bottom:1em;
text-indent:0em;
text-align:left;
font-size:1.5em;
font-weight:bold;
line-height:1.1em;
}
.copyt
{
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.75em;
}
.copyta
{
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.75em;
}
.copy
{
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.75em;
}
.ded
{
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1em;
}
.toc
{
margin-top:0em;
margin-bottom:0em;
margin-left:2.25em;
text-indent:-2.25em;
text-align:left;
font-size:0.85em;
}
.tocs
{
margin-top:0em;
margin-bottom:0em;
margin-left:2.27em;
text-indent:-2.27em;
text-align:left;
font-size:0.85em;
}
.tocs1
{
margin-top:0em;
margin-bottom:0em;
margin-left:2.45em;
text-indent:-2.45em;
text-align:left;
font-size:0.85em;
}
.toca
{
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.85em;
}
.toct
{
margin-top:1em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.85em;
}
.toc1
{
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.9em;
}
.toc1r
{
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:1.5em;
text-indent:0em;
text-align:right;
font-size:0.9em;
}
.tocp
{
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1em;
}
.tocpr
{
margin-top:1.5em;
margin-bottom:0em;
margin-right:1.5em;
margin-left:0em;
text-indent:0em;
text-align:right;
font-size:0.95em;
}
.partno
{
margin-top:1em;
margin-bottom:0em;
text-indent:0em;
text-align:left;
font-size:4em;
font-weight:bold;
}
.partnoa
{
margin-top:1em;
margin-bottom:0em;
text-indent:0em;
text-align:left;
font-size:1.5em;
font-weight:bold;
}
.parttitle
{
margin-top:1em;
margin-bottom:0em;
margin-left:1.5em;
text-indent:0em;
text-align:left;
font-size:1.8em;
font-weight:bold;
line-height:1.1em;
}
.chno
{
margin-top:1em;
margin-bottom:0.5em;
text-indent:0em;
text-align:left;
font-size:3em;
font-weight:bold;
line-height:1em;
}
.chnoa
{
margin-top:1em;
margin-bottom:0em;
text-indent:0em;
text-align:left;
font-size:1.5em;
font-weight:bold;
line-height:1em;
}
.chtitle
{
margin-top:1em;
margin-bottom:0.5em;
text-indent:0em;
text-align:left;
font-size:2.3em;
font-weight:bold;
line-height:1em;
}
.h1
{
margin-top:1.5em;
margin-bottom:0.5em;
margin-left:3.5em;
text-indent:-3.5em;
text-align:left;
font-size:1em;
font-weight:bold;
line-height:1.1em;
}
.h1a
{
margin-top:1.5em;
margin-bottom:0.5em;
margin-left:3.9em;
text-indent:-3.9em;
text-align:left;
font-size:1em;
font-weight:bold;
line-height:1.1em;
}
.h2
{
margin-top:1.5em;
margin-bottom:0.5em;
margin-left:3.4em;
text-indent:-3.4em;
text-align:left;
font-size:0.95em;
font-weight:bold;
line-height:1.1em;
}
.h3
{
margin-top:1.5em;
margin-bottom:0.2em;
margin-left:3.75em;
text-indent:-3.75em;
text-align:left;
font-size:0.9em;
font-weight:bold;
line-height:1.1em;
}
.h3a
{
margin-top:0em;
margin-bottom:0.2em;
margin-left:3.75em;
text-indent:-3.75em;
text-align:left;
font-size:0.9em;
font-weight:bold;
line-height:1.1em;
}
.h4
{
margin-top:1em;
margin-bottom:0.2em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.85em;
font-weight:bold;
}
.h4a
{
margin-top:0em;
margin-bottom:0.2em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.85em;
font-weight:bold;
}
.noindent
{
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-size:0.85em;
}
.noindentt
{
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-size:0.85em;
}
.indent
{
margin-top:0em;
margin-bottom:0em;
text-indent:1.5em;
text-align:justify;
font-size:0.85em;
}
.indentt
{
margin-top:1em;
margin-bottom:0em;
text-indent:1.5em;
text-align:justify;
font-size:0.85em;
}
.cap
{
margin-top:1em;
margin-bottom:1em;
page-break-inside:avoid;
}
.figcaption
{
margin-top:0.5em;
margin-bottom:1.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.80em;
}
.tcaption
{
margin-top:1em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.8em;
font-weight:bold;
}
.source
{
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.75em;
}
.tsource
{
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.75em;
}
.quotet
{
margin-top:1em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:1.5em;
text-indent:0em;
text-align:justify;
font-size:0.85em;
}
.bull
{
margin-top:0em;
margin-bottom:0em;
margin-left:2.35em;
text-indent:-0.85em;
text-align:justify;
font-size:0.85em;
}
.bullt
{
margin-top:0.5em;
margin-bottom:0em;
margin-left:2.35em;
text-indent:-0.85em;
text-align:justify;
font-size:0.85em;
}
.numlist
{
margin-top:0.2em;
margin-bottom:0.2em;
margin-left:2.8em;
text-indent:-1.2em;
text-align:left;
font-size:0.85em;
}
.numlistt
{
margin-top:1em;
margin-bottom:0.2em;
margin-left:2.8em;
text-indent:-1.2em;
text-align:left;
font-size:0.85em;
}
.numlista
{
margin-top:1em;
margin-bottom:0em;
margin-left:2.8em;
text-indent:0em;
text-align:left;
font-size:0.85em;
}
.ref
{
margin-top:0.5em;
margin-bottom:0em;
margin-left:3em;
text-indent:-3em;
text-align:justify;
font-size:0.75em;
}
.noindent1
{
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.75em;
}
.noindentt1
{
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.85em;
}
.aut1
{
margin-top:0em;
margin-bottom:1em;
text-indent:0em;
text-align:left;
font-size:0.75em;
}
.pub1
{
margin-top:7em;
margin-bottom:1em;
text-indent:0em;
text-align:left;
font-size:0.75em;
}
.big1
{
font-size:1.2em;
}
.big2
{
font-size:1em;
}
.hang
{
margin-top:1em;
margin-bottom:0em;
margin-left:2.5em;
text-indent:-1em;
text-align:justify;
font-size:0.85em;
}
.foot
{
margin-top:0.1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-size:0.75em;
}
.big
{
font-size:2em;
}
.f1
{
font-family:"msbm10";
}
.f2
{
font-family:"cmsy10";
}
.noindents
{
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.95em;
}
.eqn
{
margin-top:1em;
margin-bottom:1em;
text-indent:0em;
text-align:right;
}
.line
{
margin-top:2em;
margin-bottom:0.25em;
border-top:solid 1px;
width:25%;
}
.equ
{
margin-top:1em;
margin-bottom:1em;
text-align:right;
}