@font-face{font-family: "cmsy10"; font-style : normal; font-weight : normal; src: url(../fonts/cmsy10.ttf);}
@font-face{font-family: "FreeSerif"; font-style : normal; font-weight : normal; src: url(../fonts/FreeSerif.ttf);}
body{margin:1em; line-height:1.1em;}
a
{
text-decoration:none;
}
.cover
{
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
}
img.blo
{
width:auto;
height:100%;
}
img
{
max-width:100%;
max-height:100%;
vertical-align:middle;
}
sup
{
vertical-align:0.55em;
font-size:0.6em;
line-height:0em;
}
sub
{
vertical-align:-0.4em;
font-size:0.6em;
line-height:0em;
}
.image
{
margin-top:0em;
margin-bottom:0em;
text-indent:0em;
text-align:center;
}
.halftitle
{
margin-top:3em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.3em;
line-height:1.1em;
}
.title
{
margin-top:1em;
margin-bottom:0em;
text-indent:0em;
text-align:left;
font-size:1.5em;
font-weight:bold;
line-height:1.1em;
}
.title1
{
margin-top:0.5em;
margin-bottom:2em;
text-indent:0em;
text-align:left;
font-size:1.2em;
font-weight:bold;
line-height:1.1em;
}
.author
{
margin-top:0.5em;
margin-bottom:0.2em;
text-indent:0em;
text-align:left;
font-size:1.1em;
line-height:1.1em;
}
.aut1
{
margin-top:0.3em;
margin-bottom:0em;
text-indent:0em;
text-align:left;
font-size:0.8em;
line-height:1.1em;
}
.aut11
{
margin-top:2em;
margin-bottom:0em;
text-indent:0em;
text-align:left;
font-size:0.8em;
line-height:1.1em;
}
.pub
{
margin-top:1.5em;
margin-bottom:0em;
text-indent:0em;
text-align:left;
}
.fmtit
{
margin-top:1em;
margin-bottom:1.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.15em;
font-weight:bold;
line-height:1.1em
}
.fmtitle
{
margin-top:1em;
margin-bottom:1.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.5em;
font-weight:bold;
line-height:1.1em
}
.fmtitlet
{
margin-top:1em;
margin-bottom:2.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.5em;
font-weight:bold;
line-height:1.1em
}
.bmtitle
{
margin-top:1em;
margin-bottom:1.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.5em;
font-weight:bold;
line-height:1.1em
}
.copyt
{
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.75em;
}
.copy
{
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.75em;
}
.ded
{
margin-top:3em;
margin-bottom:0em;
margin-left:3em;
text-indent:0em;
text-align:left;
font-size:0.85em;
}
.toct
{
margin-top:1em;
margin-bottom:0em;
margin-left:5.1em;
text-indent:-4.45em;
text-align:left;
font-size:0.9em;
}
.toctt
{
margin-top:1.5em;
margin-bottom:0em;
margin-left:5.1em;
text-indent:-3.69em;
text-align:left;
font-size:0.9em;
}
.toct1
{
margin-top:1em;
margin-bottom:0em;
margin-left:5.1em;
text-indent:-4.1em;
text-align:left;
font-size:0.9em;
}
.tocc
{
margin-top:1em;
margin-bottom:0.3em;
margin-left:5.1em;
text-indent:-4.5em;
text-align:left;
font-size:0.85em;
}
.tocc1
{
margin-top:1em;
margin-bottom:0.3em;
margin-left:5.1em;
text-indent:-5.1em;
text-align:left;
font-size:0.85em;
}
.toca
{
margin-top:0em;
margin-bottom:0.3em;
margin-left:7.5em;
text-indent:0em;
text-align:left;
font-size:0.85em;
}
.toc
{
margin-top:0em;
margin-bottom:0em;
margin-left:8em;
text-indent:-2.55em;
text-align:left;
font-size:0.8em;
}
.toc1
{
margin-top:0em;
margin-bottom:0em;
margin-left:8em;
text-indent:0em;
text-align:left;
font-size:0.8em;
}
.tocx
{
margin-top:0.3em;
margin-bottom:0.2em;
margin-left:5.1em;
text-indent:0em;
text-align:left;
font-size:0.85em;
}
.tocxt
{
margin-top:1em;
margin-bottom:0.2em;
margin-left:5.1em;
text-indent:0em;
text-align:left;
font-size:0.85em;
}
.toc2
{
margin-top:0em;
margin-bottom:0em;
margin-left:8.55em;
text-indent:0em;
text-align:left;
font-size:0.8em;
}
.fm
{
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.80em;
}
.fmt
{
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.85em;
}
.fmtt
{
margin-top:2.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.85em;
}
.fmtitlec
{
margin-top:1em;
margin-bottom:3em;
margin-left:3em;
text-indent:0em;
text-align:left;
font-size:1.5em;
font-weight:bold;
line-height:1.1em
}
.tocfig
{
margin-top:0.5em;
margin-bottom:0em;
text-indent:0em;
text-align:left;
font-size:0.8em;
}
.partno
{
margin-top:2em;
margin-bottom:0em;
text-indent:0em;
text-align:left;
font-size:1.5em;
line-height:1.1em;
font-weight:bold;
}
.bg
{
font-size:2em;
}
.parttitle
{
margin-top:1em;
margin-bottom:0em;
text-indent:0em;
text-align:left;
font-size:1.4em;
line-height:1.1em;
font-weight:bold;
}
.chno
{
margin-top:1em;
margin-bottom:0em;
text-indent:0em;
text-align:left;
font-size:2.5em;
line-height:1em;
font-weight:bold;
}
.chtitle
{
margin-top:1em;
margin-bottom:0em;
text-indent:0em;
text-align:left;
font-size:1.5em;
line-height:1.1em;
font-weight:bold;
}
.chauthor
{
margin-top:1em;
margin-bottom:2.5em;
text-indent:0em;
text-align:left;
font-size:1em;
line-height:1.1em;
font-weight:bold;
}
.h1
{
margin-top:1.5em;
margin-bottom:0.3em;
margin-left:2.8em;
text-indent:-2.8em;
text-align:left;
font-size:1em;
line-height:1.2em;
font-weight:bold;
}
.h1-1
{
margin-top:1.5em;
margin-bottom:0.3em;
margin-left:3.6em;
text-indent:-3.6em;
text-align:left;
font-size:1em;
line-height:1.2em;
font-weight:bold;
}
.h1-2
{
margin-top:1.5em;
margin-bottom:0.3em;
margin-left:3.95em;
text-indent:-3.95em;
text-align:left;
font-size:1em;
line-height:1.2em;
font-weight:bold;
}
.h1n
{
margin-top:1.5em;
margin-bottom:0.2em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1em;
line-height:1.2em;
font-weight:bold;
}
.h1r
{
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.85em;
font-weight:bold;
}
.bg1
{
font-size:1.55em;
}
.bg2
{
font-size:1.2em;
}
.h2
{
margin-top:1em;
margin-bottom:0.3em;
margin-left:3.3em;
text-indent:-3.3em;
text-align:left;
font-size:0.9em;
font-weight:bold;
}
.h2-1
{
margin-top:1em;
margin-bottom:0.3em;
margin-left:3.4em;
text-indent:-3.4em;
text-align:left;
font-size:0.9em;
font-weight:bold;
}
.h2a
{
margin-top:1em;
margin-bottom:0.3em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.9em;
font-weight:bold;
}
.h3
{
margin-top:1em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.9em;
font-weight:bold;
}
.h5
{
margin-top:1em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-size:0.9em;
font-weight:bold;
border-top:2px solid;
padding-top:0.3em;
}
.noindent
{
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-size:0.85em;
}
.noindentt
{
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-size:0.85em;
}
.indent
{
margin-top:0em;
margin-bottom:0em;
text-indent:1.5em;
text-align:justify;
font-size:0.85em;
}
.pindent
{
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.85em;
}
.pindent1
{
margin-top:0em;
margin-bottom:0em;
margin-left:1em;
text-indent:0em;
text-align:left;
font-size:0.85em;
}
.pindent2
{
margin-top:0em;
margin-bottom:0em;
margin-left:2em;
text-indent:0em;
text-align:left;
font-size:0.85em;
}
.indentt
{
margin-top:1em;
margin-bottom:0em;
text-indent:1.5em;
text-align:justify;
font-size:0.85em;
}
.cap
{
margin-top:1em;
margin-bottom:1em;
page-break-inside:avoid;
}
.figcaption
{
margin-top:0.7em;
margin-bottom:0em;
margin-left:5.1em;
text-indent:-5.1em;
text-align:left;
font-size:0.8em;
}
.figcaption1
{
margin-top:0.7em;
margin-bottom:0em;
margin-left:5.61em;
text-indent:-5.61em;
text-align:left;
font-size:0.8em;
}
.tcaption
{
margin-top:1em;
margin-bottom:0.4em;
margin-left:4.61em;
text-indent:-4.61em;
text-align:left;
font-size:0.8em;
font-weight:bold;
}
.source
{
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.75em;
}
.quote
{
margin-top:1em;
margin-bottom:1em;
margin-left:1.6em;
margin-right:1.6em;
text-indent:0em;
text-align:justify;
font-size:0.8em;
}
.center
{
margin-top:1em;
margin-bottom:1em;
margin-left:1em;
margin-right:1em;
text-indent:0em;
text-align:center;
font-size:0.85em;
}
.bull
{
margin-top:0em;
margin-bottom:0em;
margin-left:1.85em;
text-indent:-0.85em;
text-align:justify;
font-size:0.85em;
}
.bulla
{
margin-top:0.5em;
margin-bottom:0em;
margin-left:1.85em;
text-indent:-0.85em;
text-align:justify;
font-size:0.85em;
}
.bulli
{
margin-top:0em;
margin-bottom:0em;
margin-left:1.85em;
text-indent:1em;
text-align:justify;
font-size:0.85em;
}
.bulln
{
margin-top:0em;
margin-bottom:0em;
margin-left:1.85em;
text-indent:0em;
text-align:justify;
font-size:0.85em;
}
.bullt
{
margin-top:1em;
margin-bottom:0em;
margin-left:1.85em;
text-indent:-0.85em;
text-align:justify;
font-size:0.85em;
}
.numlist
{
margin-top:0.4em;
margin-bottom:0em;
margin-left:2.2em;
text-indent:-1.2em;
text-align:justify;
font-size:0.85em;
}
.numlistt
{
margin-top:1em;
margin-bottom:0em;
margin-left:2.2em;
text-indent:-1.2em;
text-align:justify;
font-size:0.85em;
}
.table1
{
margin-top:0em;
margin-bottom:1em;
padding:0.2em;
border-spacing:0em;
width:100%;
}
td
{
vertical-align:top;
}
.tab1
{
margin-top:0em;
margin-bottom:0em;
margin-right:0.2em;
text-indent:0em;
text-align:left;
font-size:0.75em;
}
.t1
{
background-color:#e7e7e8;
color:#000000;
}
.ref
{
margin-top:0.3em;
margin-bottom:0em;
margin-left:2em;
text-indent:-2em;
text-align:left;
font-size:0.75em;
}
.indext
{
margin-top:1em;
margin-bottom:0em;
margin-left:2em;
text-indent:-2em;
text-align:left;
font-size:0.75em;
}
.index1
{
margin-top:0em;
margin-bottom:0em;
margin-left:2em;
text-indent:-2em;
text-align:left;
font-size:0.75em;
}
.index2
{
margin-top:0em;
margin-bottom:0em;
margin-left:2em;
text-indent:-1em;
text-align:left;
font-size:0.75em;
}
.box
{
margin-top:1em;
margin-bottom:1em;
text-indent:0em;
border:1px solid #000000;
padding:0.5em;
}
.bhead
{
margin-top:0em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.85em;
font-weight:bold;
}
.hangbx
{
margin-top:0.2em;
margin-bottom:0em;
margin-left:1.2em;
text-indent:-1.2em;
text-align:left;
font-size:0.8em;
}
.indentbx
{
margin-top:0em;
margin-bottom:0em;
margin-left:1.2em;
text-indent:1em;
text-align:left;
font-size:0.8em;
}
.eqn
{
margin-top:1em;
margin-bottom:1em;
text-indent:0em;
text-align:right;
}
.eqna
{
margin-top:1em;
margin-bottom:1em;
text-indent:0em;
text-align:center;
}
.note
{
margin-top:0.1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.75em;
}
.line
{
margin-top:2em;
margin-bottom:0.1em;
border-top:1px solid #000000;
width:25%;
}
.hangt
{
margin-top:1em;
margin-bottom:0em;
margin-left:2.2em;
text-indent:-1.2em;
text-align:justify;
font-size:0.85em;
}
.glo
{
margin-top:0.4em;
margin-bottom:0em;
margin-left:1.2em;
text-indent:-1.2em;
text-align:left;
font-size:0.85em;
}
.glot
{
margin-top:1em;
margin-bottom:0em;
margin-left:1.2em;
text-indent:-1.2em;
text-align:left;
font-size:0.85em;
}
.gloi
{
margin-top:0em;
margin-bottom:0em;
margin-left:1.2em;
text-indent:1em;
text-align:left;
font-size:0.85em;
}
.square
{
margin-top:0.2em;
margin-bottom:0em;
margin-left:3.5em;
text-indent:-0.9em;
text-align:left;
font-size:0.85em;
}
.bullbx
{
margin-top:0.2em;
margin-bottom:0em;
margin-left:3.5em;
text-indent:-0.95em;
text-align:left;
font-size:0.8em;
}
.f1
{
font-family: "cmsy10";
}
.f2
{
font-family: "FreeSerif";
}
.pre
{
margin-top:1em;
margin-bottom:1em;
margin-left:1.5em;
text-indent:0em;
}