body {
font-family:"Arial";
font-size:100%;
line-height:150%;
padding:2%;
text-align:justify;
}

* {
margin:0;
padding:0;
}
.box{
border:1px solid #F20092;
background:#FFF;
padding:15px;
}
.CharOverride-3,.CharOverride-2
{
font-weight:bold;
}
h1
{
color:##818284;
background:#FFF;
padding:10px;
font-size:2.3em;
}
.chapterheading
{
color:#FFF;
background:#FCC63F;
padding:10px;
font-size:1.5em;
font-weight:bold;
}

h2 {
color:#F20092;
font-size:1.3em;
	text-transform: uppercase;

}
h3, .subHeading {
	color:#000;
	font-weight:bold;

}
h4
{
color:#000;
	font-weight:bold;
	font-size:1.2em;
}

italic
{
}
b{
}




.image {
text-align:center;
}
.author {
text-align:right;
}

.chapterHeading {
font-size:160%;
color: gray;
margin-bottom:20px;
}

.chapterNumber {
	font-size: 125%;
	font-family: "Arial";
}

.subHeading {
color:#ce1337;
font-size:125%;
}

.center {
	text-align: center;
}

.excercise {
text-transform:uppercase;
font-weight:bold;
margin:1% 0%;
}





img
{
	margin-left: auto;
    margin-right: auto;
	display: block;
	max-width:90%;
padding:5px;
}
.img_left
{
	margin-left:0px;
}
ul
{
	margin-left:45px;
}
p.Chapter-No- {
	color:#000000;
	font-size:1.417em;
	text-align:left;
}
p.Begin-Question {
	color:#0089cf;
	font-size:1.333em;
}
/*p.SubTitle2 {
	color:#0089cf;
	font-size:1.333em;
}

*/
span.char-style-override-2 {
	color:#a3238e;
}
p.Box-Sub-Title {
	color:#0089cf;
	font-size:1.333em;
}
p.Subhead-2 {
	font-size:1em;
}
p.para-style-override-4 {
	color:#6d6e71;
	font-size:1.333em;
	font-style:normal;
	font-weight:bold;
}
p.Imagine {
	color:#ec008c;
	font-size:1.042em;
}
p.Excercise-Title {
	color:#a3238e;
	font-size:1.333em;
}
p.Excercise {
	color:#6d6e71;
	font-size:1em;
	font-weight:500;
}
.caption
{
	font-style: italic; 
	font-size: 0.83em; 
	color: #4D4D4D;
	text-align:center;
}
p
{
	margin-top:10px;
}

.footer
{
	display:none;
}
table td
{
	padding:10px;
}
.conc
{
	color:#006699;
}
div.layout
{
  text-align: center;
}
div.chapter_pos

{

text-align: center;

width: 96%;

position:absolute;

top:50%;

font-weight:bold;

font-size:28px;

color:#fff;

}

div.chapter_pos div

{

background:#993300;

padding:10px;

width:40%;

margin:auto;
opacity:0.9;

}

div.chapter_pos div span

{

font-size:0.7em;

color:#eaeaea;

font-weight:normal;

}

.clear
{
clear:both;
}


/* Chapter Name */

/* Concept Heading */
.ConceptHeading
{
color:#00aeef;
font-size:1.3em;
font-weight:bold;
margin-top:20px;
}
/* Sub Heading */
.SubHeading
{
color:#00aeef;
font-size:1.1em;
font-weight:bold;
}
/* Sub Heading 2*/
.SubHeading2
{
color:#B04AA2;
f
ont-size:1em;
font-weight:bold;
}
/* Hightlisght Boxes */
.NewWordBox{
background-color:#FCD5BB;
padding: 15px;
}
.activityBox{
background-color:#B7DEC3;
padding: 15px;
font-size:0.9em;
border-radius:15px;
line-height:120%;
}
.caption
{
font-style: italic;
font-size: 0.83em;
color: #4D4D4D;
text-align:center;
}

 .lining_box2
{
border:2px solid #800080;
padding:15px;
border-radius:15px;

}
.lining_box3
{
border:1px solid #00aeef;
padding:15px;
}
table
{
    width:100%;
    border:1px solid #000;
    border-collapse:collapse;
}
td
{
    padding:10px;
    border:1px solid #000;
    border-collapse:collapse;
}

.cover_img_small
{
width:50%;
}
@media only screen and (max-width: 767px) {


img
{
	margin-left: auto;
    margin-right: auto;
	display: block;
	max-width:80%;
padding:5px;
}
div.chapter_pos
{
top:20%;
font-size:1em;
}
div.chapter_pos div
{
width:80%;
}
.cover_img_small
{
width:90%;
}
}
